
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeCalculator</title>
</head>
<body>
    <div>
        <h1> Calculator Result</h1>

        @ViewBag.Hours hours + @ViewBag.Minutes minutes + @ViewBag.Seconds seconds = @ViewBag.Total
    </div>
</body>
</html>
